*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.color-white {
  color: #FEFBFF;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  padding: 96px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #02040F;
  flex-direction: row;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 960px) {
  .container {
    flex-direction: column;
    padding: 32px 18px;
  }
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.relative {
  position: relative;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-item-1 {
  flex: 1 1 360px;
}

.flex-item-2 {
  flex: 2 1 360px;
}

.flex-item-3 {
  flex: 3 1 360px;
}

.flex-item-4 {
  flex: 4 1 360px;
}

.flex-item-5 {
  flex: 5 1 360px;
}

.flex-item-auto {
  flex: 2 1 auto;
}

.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.hidden {
  overflow: hidden;
}

.border {
  border: 1px solid red;
}

.hero {
  height: 100%;
}
@media screen and (max-width: 960px) {
  .hero {
    height: auto;
  }
}

.tex {
  z-index: 1;
  position: relative;
}

.flex-top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.cicles-bg {
  display: flex;
  width: 848px;
  height: 648px;
  border-radius: 50%;
  position: absolute;
  animation: spin 4s linear infinite;
  z-index: -800;
  box-shadow: 0px 17px 31px rgba(0, 99, 247, 0.27), 0px 5.125px 9.34559px rgba(5, 72, 255, 0.176), 0px 2.12866px 3.88168px rgba(6, 95, 155, 0.135), 0px 0.769896px 1.40393px rgba(0, 99, 247, 0.094);
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 960px) {
  .cicles-bg {
    width: 468px;
    height: 668px;
  }
}

.img {
  height: 70%;
  border-radius: 16px;
  background-color: #0197F6;
  width: 100%;
}

.hero-linguagens {
  display: flex;
  max-width: 100%;
}
@media screen and (max-width: 960px) {
  .hero-linguagens {
    flex-direction: column;
  }
}

.linguagens-container {
  background-color: #010418;
  display: flex;
  flex-direction: row;
  height: 50%;
  border-radius: 16px;
  max-width: 40%;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0px 17px 31px rgba(0, 99, 247, 0.27), 0px 5.125px 9.34559px rgba(5, 72, 255, 0.176), 0px 2.12866px 3.88168px rgba(6, 95, 155, 0.135), 0px 0.769896px 1.40393px rgba(0, 99, 247, 0.094);
}

.resumo {
  background-color: #010418;
  border-radius: 16px;
  height: 50vh;
  max-width: 60%;
  box-shadow: 0px 17px 31px rgba(0, 99, 247, 0.27), 0px 5.125px 9.34559px rgba(5, 72, 255, 0.176), 0px 2.12866px 3.88168px rgba(6, 95, 155, 0.135), 0px 0.769896px 1.40393px rgba(0, 99, 247, 0.094);
}

.sobre-countent {
  background-color: #010418;
  box-shadow: 0px 17px 31px rgba(0, 99, 247, 0.27), 0px 5.125px 9.34559px rgba(5, 72, 255, 0.176), 0px 2.12866px 3.88168px rgba(6, 95, 155, 0.135), 0px 0.769896px 1.40393px rgba(0, 99, 247, 0.094);
  border-radius: 16px;
  display: flex;
  height: 100vh;
}
@media screen and (max-width: 960px) {
  .sobre-countent {
    flex-direction: column;
  }
}

.img-sobre {
  width: 40%;
  height: 80%;
  max-width: 100%;
  height: 80%;
}
@media screen and (max-width: 960px) {
  .img-sobre {
    width: 70%;
    max-width: 70%;
  }
}

.img-sobre img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: 2px solid #0197F6;
}

.sobre-desc {
  max-width: 60%;
  height: 80%;
  border-radius: 25px;
  justify-content: center;
  background-color: #010418;
  border: 2px solid #0197F6;
}
@media screen and (max-width: 960px) {
  .sobre-desc {
    max-width: 90%;
  }
}

h1 {
  color: #F7F4F3;
  font-family: "Sora", serif;
  font-size: 64px;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  h1 {
    font-family: "Sora", serif;
    font-size: 36px;
    line-height: 100%;
  }
}

h2 {
  color: #F7F4F3;
  font-family: "Sora", serif;
  font-size: 52px;
  line-height: 110%;
}
@media screen and (max-width: 960px) {
  h2 {
    font-family: "Sora", serif;
    font-size: 36px;
    line-height: 120%;
  }
}

h3 {
  color: #F7F4F3;
  font-family: "Sora", serif;
  font-size: 36px;
  line-height: 120%;
}
@media screen and (max-width: 960px) {
  h3 {
    font-family: "Sora", serif;
    font-size: 24px;
    line-height: 120%;
  }
}

h4 {
  color: #F7F4F3;
  font-family: "Sora", serif;
  font-size: 24px;
  line-height: 130%;
}
@media screen and (max-width: 960px) {
  h4 {
    font-family: "Sora", serif;
    font-size: 18px;
    line-height: 130%;
  }
}

h5 {
  color: #F7F4F3;
  font-family: "Sora", serif;
  font-size: 18px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  h5 {
    font-family: "Sora", serif;
    font-size: 16px;
    line-height: 140%;
  }
}

a {
  color: #F7F4F3;
}

p {
  color: #666566;
  font-family: "Source Sans 3", serif;
  font-size: 16x;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  p {
    font-family: "Source Sans 3", serif;
    font-size: 14px;
    line-height: 150%;
  }
}

.bold {
  font-weight: bold;
  color: #353436;
}

strong {
  color: #161617;
  font-family: "Source Sans 3", serif;
  font-size: 16x;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  strong {
    font-family: "Source Sans 3", serif;
    font-size: 14px;
    line-height: 150%;
  }
}

.text-center {
  text-align: center;
}

.weight-ligth {
  font-weight: 300;
}

a {
  font-family: "Source Sans 3", serif;
  font-size: 24x;
  line-height: 130%;
  text-decoration: none;
  color: #F7F4F3;
}
a:hover {
  opacity: 0.9;
}

.btn {
  background: transparent;
  border: 2px solid #0197F6;
  border-radius: 16px;
  padding: 18px 36px;
  transition: 0.3s ease;
  color: #FEFBFF;
  box-shadow: 0px 17px 17px rgba(5, 113, 255, 0.13), 0px 5.125px 5.125px rgba(2, 120, 255, 0.085), 0px 2.12866px 2.12866px rgba(7, 106, 255, 0.065), 0px 0.769896px 0.769896px rgba(13, 89, 253, 0.045);
}
.btn:hover {
  background: #0197F6;
  transform: scale(1.02);
  box-shadow: 0px 17px 31px rgba(0, 99, 247, 0.27), 0px 5.125px 9.34559px rgba(5, 72, 255, 0.176), 0px 2.12866px 3.88168px rgba(6, 95, 155, 0.135), 0px 0.769896px 1.40393px rgba(0, 99, 247, 0.094);
}

.s-0 {
  margin: 0;
  padding: 0;
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 48px;
}

.m-4 {
  margin: 72px;
}

.m-5 {
  margin: 128px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 48px;
}

.mt-4 {
  margin-top: 72px;
}

.mt-5 {
  margin-top: 128px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 48px;
}

.mb-4 {
  margin-bottom: 72px;
}

.mb-5 {
  margin-bottom: 128px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 48px;
}

.mr-4 {
  margin-right: 72px;
}

.mr-5 {
  margin-right: 128px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 48px;
}

.ml-4 {
  margin-left: 72px;
}

.ml-5 {
  margin-left: 128px;
}

.mx-1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-2 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-3 {
  margin-left: 48px;
  margin-right: 48px;
}

.mx-4 {
  margin-left: 72px;
  margin-right: 72px;
}

.mx-5 {
  margin-left: 128px;
  margin-right: 128px;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-3 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.my-4 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.my-5 {
  margin-top: 128px;
  margin-bottom: 128px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 48px;
}

.p-4 {
  padding: 72px;
}

.p-5 {
  padding: 128px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 48px;
}

.pt-4 {
  padding-top: 72px;
}

.pt-5 {
  padding-top: 128px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 48px;
}

.pl-4 {
  padding-left: 72px;
}

.pl-5 {
  padding-left: 128px;
}

.pr-1 {
  padding-right: 8px;
}

.pr-2 {
  padding-right: 16px;
}

.pr-3 {
  padding-right: 48px;
}

.pr-4 {
  padding-right: 72px;
}

.pr-5 {
  padding-right: 128px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 48px;
}

.pb-4 {
  padding-bottom: 72px;
}

.pb-5 {
  padding-bottom: 128px;
}

.px-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-3 {
  padding-left: 48px;
  padding-right: 48px;
}

.px-4 {
  padding-left: 72px;
  padding-right: 72px;
}

.px-5 {
  padding-left: 128px;
  padding-right: 128px;
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-3 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-4 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.py-5 {
  padding-top: 128px;
  padding-bottom: 128px;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #02040F;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 72px;
  background-color: transparent;
  box-shadow: none;
  transition: 0.5s ease;
  position: fixed;
  z-index: 99999;
}

.active-header {
  background-color: #010418;
}

.navbar-desktop {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .navbar-desktop {
    display: none;
  }
}

.logo {
  background-image: url(../imagens/logo.png);
  width: 52px;
  height: 52px;
  background-size: cover;
  background-color: #0197F6;
  z-index: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link-desktop {
  color: #F7F4F3;
  transition: 0.5s ease;
  position: relative;
  justify-content: center;
}
.nav-link-desktop::after {
  content: "";
  position: absolute;
  top: 90%;
  left: 16px;
  width: 0%;
  height: 2px;
  transition: 1s ease;
  background-color: #0197F6;
}
.nav-link-desktop:hover {
  color: #0197F6;
}
.nav-link-desktop:hover::after {
  width: 80%;
}

span {
  color: #0197F6;
}

.navbar-mobile {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 24px;
  display: none;
}
@media screen and (max-width: 960px) {
  .navbar-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.bxl {
  width: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
  z-index: 800;
  transition: 0.7s ease;
}
.bxl::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 17%;
  width: 70%;
  height: 2px;
  transition: 0.5s ease;
  background-color: #0197F6;
}
.bxl::before {
  content: "";
  position: absolute;
  top: 64%;
  left: 17%;
  width: 70%;
  height: 2px;
  transition: 0.5s ease;
  background-color: #0197F6;
}

.active-bx {
  width: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
  z-index: 800;
  transition: 0.7s ease;
}
.active-bx::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 17%;
  transform: rotate(-135deg);
  width: 70%;
  height: 2px;
  background-color: #0197F6;
}
.active-bx::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 17%;
  transform: rotate(-45deg);
  width: 70%;
  height: 2px;
  background-color: #0197F6;
}

.menu-mobile {
  width: 100%;
  height: 100vh;
  background-color: #02040F;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transform: translate3d(0, -100px, 0);
}

.active-menu-mobile {
  opacity: 1;
  pointer-events: all;
}

.nav-list-mobile {
  max-width: 1440px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.navlink-mobile {
  display: inline-block;
  font-family: "Sora", serif;
  font-size: 36px;
  line-height: 120%;
  color: #F7F4F3;
  padding: 16px 24px;
  position: relative;
}
.navlink-mobile::after {
  content: "";
  position: absolute;
  top: 90%;
  left: 16px;
  width: 0%;
  height: 2px;
  transition: 1s ease;
  background-color: #0197F6;
}
.navlink-mobile:hover::after {
  width: 100%;
}

.swiper-container {
  width: 60%;
  height: 560px;
  position: relative;
}

.swiper-slide {
  max-width: 100%;
  max-height: 100vh;
  padding: 24px 36px;
  border-radius: 20px;
  margin: 8px 16px;
  background-color: #010418;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 17px 31px rgba(0, 99, 247, 0.27), 0px 5.125px 9.34559px rgba(5, 72, 255, 0.176), 0px 2.12866px 3.88168px rgba(6, 95, 155, 0.135), 0px 0.769896px 1.40393px rgba(0, 99, 247, 0.094);
}
@media screen and (max-width: 960px) {
  .swiper-slide {
    max-width: 340px;
  }
}

.button-next {
  position: absolute;
  right: 5px;
  top: 600px;
  width: 36px;
  height: 36px;
  max-width: 100%;
  cursor: pointer;
}

.button-prev {
  position: absolute;
  left: 5px;
  top: 600px;
  width: 36px;
  height: 36px;
  max-width: 100%;
  cursor: pointer;
}

.bx {
  border: 4px solid #0197F6;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  z-index: 800;
  transition: 0.7s ease;
  color: #0197F6;
  font-size: 48px;
  transition: 0.5s ease;
}
.bx:hover {
  transform: scale(1.08);
  color: #37adf7;
}

@media screen and (max-width: 960px) {
  .app-footer {
    flex-direction: column;
  }
}

.app-store-footer, .app-play-footer {
  margin: 0;
  margin-top: 8px;
}/*# sourceMappingURL=style.css.map */