.bx{
    border: 4px solid $main-color;
    justify-content: center;
    align-items: center;

    position: relative;
    cursor: pointer;
    z-index: 800;
    transition: .7s ease;

    color: $main-color;
    font-size: 48px;
    transition: 0.5s ease;

    &:hover{
        transform: scale(1.08);
        color: $main-color-2;
    }
}

