
.swiper-container{
    width: 60%;
    height: 560px;
    
    position: relative;
    
}

.swiper-slide{
    max-width: 100%;
    max-height: 100vh;
    padding: 24px 36px;
    border-radius: 20px;
    margin: 8px 16px;
    background-color: $bg-color-secondary;
    
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    
    box-shadow: 0px 17px 31px rgba(0, 99, 247, 0.27),
    0px 5.125px 9.34559px rgba(5, 72, 255, 0.176),
    0px 2.12866px 3.88168px rgba(6, 95, 155, 0.135),
    0px 0.769896px 1.40393px rgba(0, 99, 247, 0.094);


    @include responsive(s){
        max-width: 340px;
    }
}

.button-next{
    position: absolute;
    right: 5px;
    top: 600px;

    width: 36px;
    height: 36px;
    max-width: 100%;
    cursor: pointer;

    
   
}

.button-prev{
    position: absolute;
    
    left: 5px;
    top: 600px;

    width: 36px;
    height: 36px;
    max-width: 100%;
    cursor: pointer;
    
    
}



